{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}" />
    <title>{% block title %}iMedpunkt{% endblock %}</title>
</head>

<body>
    <h1 class="header">✚ iMedpunkt</h1>
    <div id="navigation">
        {% block navigation %}
        <a href={% url 'student_list' %}>
            Школьники
        </a>
        <a href={% url 'visits_list' %}>
            Журнал посещений
        </a>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>