<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ stud.first_name }} {{ stud.patron }} {{ stud.last_name }} {{ stud.birth_date }}
<form method="post" action={% url 'student_post' stud.id %}>
{% csrf_token %}
    <label><input type="checkbox" name="cert1" {% if stud.cert1 %} checked {% endif %}>Справка о контактах</label>
    <br>
    <label><input type="checkbox" name="cert2" {% if stud.cert2 %} checked {% endif %}>Справка м-079</label>
    <br>
    Хронические заболевания и операции:<br>
    <input type="text" width="50" name="health" value={{ stud.health }}><br>
    Аллергия:<br>
    <input type="text" width="50" name="allergy" value={{ stud.allergy }}><br>
    Детские инфекции:<br>
    <label>
        <input name="bolel" type="radio" value="1"/>Болел
    </label><br>
    <label>
        <input name="bolel" type="radio" value="0" checked>Нет
    </label><br>
    Рост:<br>
    <input type="text" name="height" value={{ stud.height }}><br>
    Вес:<br>
    <input type="text" name="weight" value={{ stud.weight }}>
    <input type="submit" value="Отправить">
</form>
</body>
</html>