body {
    font-family: Verdana, Serif;
    font-size: 12pt;
    color: #000000;
    padding: 20px;
    margin: 0;
}

h1, h2, h3, a.header {
    font-family: Arial, SunSans-Regular, Sans-Serif;
    text-align: left;
    margin: 0;
}

h1, h2 {
    color: #1070b0;
}

h1.header {
    color: red;
    margin-bottom: 1em;
}

h1 {
    padding-top: 10pt;
    font-size: 18pt;
}

h2 {
    padding-top: 10pt;
    font-size: 16pt;
}

h3 {
    padding-top: 10pt;
    font-size: 14pt;
}


/* Students table */
table.student {
    border: none;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}

td.student {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}

tr.student_head {
    padding: 0.5em;
    background-color: #e0f7f7;
}

th.student {
    padding: 0.5em;
    vertical-align: top;
    font-size: 12pt;
    text-align: left;
}

tr.student_red {
    background-color: #ffbbbb;
}
tr.student_red:nth-child(even) {
    background-color: #f0b0b0;
}
tr.student_green {
    background-color: #bbffbb;
}
tr.student_green:nth-child(even) {
    background-color: #b0f0b0;
}
tr.student {
    background-color: #eeffff;
}
tr.student:nth-child(even) {
    background-color: #e0f7f7;
}

input.formfield {
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
}

a.navigation {
  margin: 1em;
}


table.visits {
    cellspacing: 1em;
    width: 30em;
}

td.visits {
    border: solid 1pt silver;
    padding-left: 1em;
    padding-right: 1em;
}

div.studentcard {
    width: 33em;
    height: 23em;
}

div.leftcol {
    float: left;
    width: 23em;
}

div.rightcol {
    float: right;
    width: 10em;
}

div.centercolumn {
    margin: 2em auto 0;
    width: 33em;
}

div.red {
    color: red;
}
div.green {
    color: lawngreen;
}

a.smalllink {
    font-size:8pt;
}
